{{ form_start(form) }}
<div class="col-12">
	{{ form_row(form.name) }}
</div>
<div class="col-12">
	<h5>Produit</h5>
	<div class="row">
		<div class="form-group">
			<select class="select2" multiple="multiple" data-placeholder="Select a product" style="width: 100%;" name='produit[]' id="product">
				{% for produit in produits %}
					<option value="{{ produit.id }}">{{produit.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>

<button class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
