{% extends 'base.html.twig' %}

{% block title %}DetailVente index{% endblock %}

{% block body %}
    <h1>DetailVente index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantité</th>
                <th>Pu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detail_vente in detail_ventes %}
            <tr>
                <td>{{ detail_vente.id }}</td>
                <td>{{ detail_vente.quantité }}</td>
                <td>{{ detail_vente.pu }}</td>
                <td>
                    <a href="{{ path('detail_vente_show', {'id': detail_vente.id}) }}">show</a>
                    <a href="{{ path('detail_vente_edit', {'id': detail_vente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('detail_vente_new') }}">Create new</a>
{% endblock %}
